.fulcontainer {
  min-width: 100%;
  min-width: 100%;
}

.signinform {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexForm {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.searchSize {
  min-width: 20px;
}

.pswtotext {
  position: relative;
  right: 50px;
}

.content {
  width: inherit;
  min-height: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5vh;
  gap: 15px;
}

.postTags {
  display: inline-flex;
  padding: 3%;
  gap: 7px;
}

.formControler {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2% 7% 5% 7%;
}

.customForm {
  display: block;
  width: 10rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #212529;
  background-clip: padding-box;
  outline: none;
}

.custom-button {
  width: 5rem;
  outline: none;
  border: 1px solid #0a58ca;
  background: #0d6efd;
  border-radius: 0.375rem;
}

.custom-button:active {
  color: #fff;
  background: #0a58ca;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.custom-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0b5ed7;
}


.leading{
  margin: 20% 30% 20% 30%;
}