@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --fontUbuntu: Ubuntu;
  --fontMotserrat: Montserrat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  width: inherit;
  height: inherit;
  font-family: var(--fontMotserrat), sans-serif;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerdiv {
  width: 80%;
  height: 80%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.innerdiv {
  width: 90%;
  height: 40%;
  background: #444;
  display: inline-flex;
  align-items: center;
  padding-left: 2vw;
}

.heading {
  position: absolute;
  top: 12%;
  left: 14%;
}

.detail {
  position: absolute;
  top: 28%;
  left: 16%;
}

.inputNum {
  width: 11%;
  height: 25%;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  font-size: larger;
  font-family: var(--fontUbuntu);
}

#fromUnit {
  width: 20%;
  height: 25%;
  border-radius: 8px;
  font-family: var(--fontUbuntu);
   margin: 10px;
}

#toUnit {
  width: 20%;
  height: 25%;
  border-radius: 8px;
  font-family: var(--fontUbuntu);
   margin: 10px;
}


/*manu code */

.menu{
     width: 10%;
     height: 6%;
     border: none;
     background-color: rgba(153, 0, 255, 0.219);
     display: inline-flex;
     align-items: center;
     justify-content: center;
}

.menu:hover{
     cursor: pointer;
     color: black;
     font-weight: bolder;
     background: rgba(0, 0, 0, 0.137);
}

.option{
     height: 40%;
     background: black;
     display: grid;
     grid-template-rows: repeat(5,1fr);
     outline: 1px solid  yellow;
     inline-size: 15%;
     display: none; 
     position: absolute;
     top: 6.5%;
     left: 45%;
     z-index: 1;
   
     
}
 a{
     color: white;
     font-weight: bolder;
     padding: 10px;
     border: .25px solid  transparent;
}

a:hover{
     border: 2px solid white;
}