* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  width: 100%;
  height: 100%;
 scroll-behavior: smooth;
}



#root {
  width: inherit;
  height: inherit;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerdiv{
  width: 80%;
  height: 80%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}


.innerdiv{
  width: 90%;
  height:40%;
  background:#444;
  display: inline-flex;
  align-items: center;
  padding-left: 2vw;
  margin: 10px;
}

.heading{
  position: absolute;
  top: 12%;
  left: 14%;
}

.detail{
  position: absolute;
  top: 28%;
  left:16% ;
}

.inputNum{
   width: 11%;
   height: 19%;
   border-radius: 8px;
}

.inputNum::placeholder{
  font-size: larger;
}